#cloud-config

hostname: {{ hostname }}
manage_etc_hosts: true

users:
  - name: admin
    primary-group: users
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: users,docker,adm,dialout,audio,plugdev,netdev,video
    lock_passwd: true
    ssh-import-id: None
    ssh-authorized-keys:
      - "{{ ssh_key }}"

apt_preserve_sources_list: true
package_update: false
package_upgrade: false

locale: "en_US.UTF-8"
timezone: "UTC"

runcmd:
  - [ systemctl, restart, avahi-daemon ]
  - [ systemctl, stop, docker ]
  - [ systemctl, disable, docker ]

# vim: syntax=yaml
